.reaction-wrap {
	text-align: center;
	margin: 20px 0;
}
.ood .id {
	text-align: center;
	width: 5%;
	vertical-align: middle;
}
.ood .fixit {
	width: 5%;
	vertical-align: middle;
	text-align: center;
}
.ood .modified {
	width: 20%;
	vertical-align: middle;
}
.ood .title {
	width: 70%;
}
.reaction-wrap img {
	max-width: 100%;
}
dd.wp-caption-dd {
	margin: 0;
}
.caption {
	font-size: 1.4em;
}
.wp-caption-dt img {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}